extends layout

block head
  
  script(type='text/javascript').

      document.addEventListener("DOMContentLoaded", function() {
        
        var results = ko.observableArray();
        ko.applyBindings(results, document.getElementById("results"));

        var container = document.getElementById('singlePackage');
        var options = {
              nodes: {
                shape: 'box'
              },
              edges: {
                style: 'arrow',
                color: 'green'
              },
              physics: {
                repulsion: {
                  centralGravity: 0.1,
                  nodeDistance: 200
                }
              }
        };

        var data = {
          nodes: new vis.DataSet(),
          edges: new vis.DataSet(),
        }

        var network = new vis.Network(container, data, options);

        var nuget = fxNuget(results, function(package,isFirst) {
            if (isFirst) {
                data.nodes.clear();
                data.edges.clear();
            }
            // Haha, using _.each tripped up the this mapping somewhere inside
            // vis.js
            for (var i = 0; i < package.nodes.length; i++) {
              var newNode = package.nodes[i];
              if (data.nodes.get(newNode.id) === null) {
                data.nodes.add(newNode);
              }
            }
            for (var i = 0; i < package.edges.length; i++) {
              var newEdge = package.edges[i];
              if (data.edges.get(newEdge.id) === null) {
                data.edges.add(newEdge);
              } 
            }
        });

        var inputStream = asStream(document.getElementById("search"));
        inputStream.subscribe(nuget.searchPackages);

        $('#search').focus();

      });

block content
  nav(class='navbar navbar-default' role='navigation')
    div(class='container-fluid')
      div(class='navbar-header')
        span(class='navbar-brand') Nuget Deps Visualizer
      ul(class='nav navbar-nav')
        li
          form(class='navbar-form navbar-left')
            div(class='form-group')
              input(id='search', type='text', class='form-control', autocomplete='off')
        li(class='dropdown')
          a(href='#', class='dropdown-toggle' data-toggle='dropdown') Matching Packages
            span(class='caret')
          ul(id='results', class='dropdown-menu', data-bind='foreach: $data')
            li
              a(data-bind='click: openPackage')
                  span(data-bind='text: Id, attr: {title: Description}')
                  span , Version:
                  span(data-bind='text: Version')

  div(class='container-fluid')
    div(class='row')
      div(class='span12')
        div(id='singlePackage')