extends layout

block head
  
  script(type='text/javascript').

      document.addEventListener("DOMContentLoaded", function() {
        
        var results = ko.observableArray();
        ko.applyBindings(results, document.getElementById("content"));

        var nuget = fxNuget(results, function(package) {
            var container = document.getElementById('singlePackage');
            var options = {
              nodes: {
                shape: 'box'
              },
              edges: {
                length: 120,
                style: 'arrow',
                color: 'green'
              },
              hierarchicalLayout: {
                  direction: "down"
              }
            };
            var network = new vis.Network(container, package, options);
        });

        var inputStream = asStream(document.getElementById("search"));
        inputStream.subscribe(nuget.searchPackages);

      });

block content
  div(class='row')
    div(class='span4 offset1')
      h1= title
      p Welcome to #{title}
      form
        input(id='search', type='text', autocomplete='off')
      div
        ul(id='content', data-bind='foreach: $data')
          li
            a(data-bind='click: openPackage')
              span(data-bind='text: Id, attr: {title: Description}')
            span , Version:
            span(data-bind='text: Version')

    div(class='span7')
      div(id='singlePackage')