doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery-2.1.1.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/rx.lite.js')
    script(src='/javascripts/datajs-1.1.2.min.js')
    script(src='/javascripts/knockout-3.1.0.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/vis.js')

    block head
  body
    block content