doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/Spacetree.css')
    //script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/rx.lite.js')
    script(src='/javascripts/datajs-1.1.2.min.js')
    script(src='/javascripts/handlebars-v1.3.0.js')
    script(src='/javascripts/knockout-3.1.0.js')
    script(src='/javascripts/main.js')
    script(src='/javascripts/jit.js')
    style(type='text/css').
        #singlePackage {
            height:600px;
            position:absolute;
            top:0;
        }
    block head
  body
    block content